<div class="visually-hidden">
  <h1>Login or Create Account</h1>
</div>

<div class="container mt-5">
  <div class="row gx-5">
    <div class="col-md-6">
      <div class="p-3">
        <h2 class="mb-5 text-capitalize">
          <%= t 'show.login' %>
        </h2>
        <%= render partial: "rodauth/login" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="p-3">
        <h2 class="mb-5 text-capitalize">
          <%= t 'show.create_account' %>
        </h2>
        <%= render partial: "rodauth/create_account" %>
      </div>
    </div>
  </div>
</div>
