<% unless rodauth.login_form_footer_links.empty? %>

  <div class="d-flex justify-content-around align-items-center">
    <% rodauth.login_form_footer_links.sort.each_with_index do |(_, link, text), idx| %>
      <% next if idx == 0 %>
      <div>
        <small>
          <%= link_to text, link, class: "text-reset text-uppercase text-decoration-underline" %>
        </small>
      </div>
    <% end %>
  </div>
<% end %>
